body {
    background-color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

#app {
    margin-top: 80px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

#queries-container,
#query-console {
    display: inline-block;
    width: 100%;
}

#queries-container {
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#queries-container ul {
    display: inline-block;
    width: 85%;
    list-style: none
}

.query-container {
    display: inline-block;
    width: 100%;
    height: 70px;
    border: 1px solid black;
    cursor: pointer;
}

.query-container.active {
    background-color: lightgray;
}

.query-container p {
    margin: 0.25em;
}

.query-container-delete {
    float: right;
    color: red;
}

#query-results {
    width: 90%;
    margin: 5%;
    background-color: whitesmoke;
    min-height: 25px;
    margin-bottom: 10px;
}
.sem-input {
    width: 90%;
    margin: 0 5%;
    height: 75px;
}
.sem-input * {
    display: block;
    width: 100%;
}

.sem-input label {
    margin: 5px 2%;
}
.sem-input p {
    margin-top: 5px;
    margin-left: 2%;
}

.sem-input p {
    font-weight: bold;
    color: red;
}

.console-container {
    width: 100%
}

.console-container div {
    width: 90%;
    margin: 0 5%;
}

#console {
    display: block;
    resize: none;
    background-color: whitesmoke;
    height: 220px;
    margin-top: 15px;
    width: 90%;
    margin: 0 5%;
}

.query-error {
    font-weight: bold;
    color: red;
    margin-left: 70%;
}

.console-container .actions {
    margin-top: 15px;
}

.console-container .actions input[type=button] {
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 768px) {
    #app  {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #app  {
        width: 970px;
    }
    #queries-container {
        width: 30%;
    }
    #query-console {
        width: 70%;
    }
    #queries-container,
    #query-console {
        height: 600px
    }

}

@media (min-width: 1200px) {
    #app  {
        width: 1170px;
    }
}
